#line-suggestion-renderer {
    position: relative;
    width: 108px;
    height: 108px;
    top: -42px;
    left: -42px;
    z-index: 100;
}

#line-suggestion-renderer .row {
    height: 30px;
    margin: 5px;
    width: 100%;
    border: none;
}

#line-suggestion-renderer .row > .cell {
    float: left;
    width: 30px;
    height: 100%;
    margin-right: 2px;
    border: 1px solid red;
    background-color: #f9f9f9;
    color: #000000;
}

#line-suggestion-renderer .row:first-child > .cell {
    float: left;
    width: 23px;
    height: 100%;
    margin-right: 2px;
    border: 1px solid red;
    background-color: #f9f9f9;
    color: #000000;
}

#line-suggestion-renderer .row > .cell:first-child {
    float: left;
}

#line-suggestion-renderer .row > .cell:last-child {
    float: right;
}
