.suggestion {
    position: absolute;
    width: 108px;
    height: 108px;
    top: -42px;
    left: -42px;
    z-index: 100;
}

.suggestion .suggestion-row {
    height: 30px;
    margin: 5px;
    width: 100%;
    border: none;
}

.suggestion .suggestion-row > .suggestion-cell {
    float: left;
    width: 30px;
    height: 100%;
    margin-right: 2px;
    border: 1px solid red;
    background-color: #f9f9f9;
    color: #000000;
}

.suggestion .suggestion-row:first-child > .suggestion-cell {
    width: 23px;
}

.suggestion .suggestion-row > .suggestion-cell:first-child {
    float: left;
}

.suggestion .suggestion-row > .suggestion-cell:last-child {
    float: right;
}
